numpy>=2.1.0,<=2.3.5
librosa
scikit-learn
tensorflow==2.21.0
streamlit
soundfile
sounddevice
scipy
matplotlib
seaborn
joblib
pydub
streamlit-webrtc
audio-recorder-streamlit
tqdm
kagglehub
opencv-python
